<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-block">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRi4kzqoHAYdRYPaM1iGo7wEFSc74n5g-ehwdNYGlLgJj5o3vdQ" alt="">
    <ul>
      <li>
        <b>Author:</b>
        <a href="https://github.com/PipatPilap" target="_blank">Pipat Pilap</a> <br>

      </li>
      <li>
        <b>Facebook:</b>
        <a href="https://www.facebook.com/Mc.PipatPilap" target="_blank">My Facebook</a>
      </li>

      <ul>

      </ul>
    </ul>
  </div>
</div>
